# Node Files #
##############
.gulp/node_modules

# Project Files #
#################
packages/npm-container/.npm/
packages/sunnyg:meteor-famous-ui-components
settings.json

# Gulp-built files #
####################
lib/deps.js
